* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 10vh;
    width: 70%;
    gap: 20px;
    margin: 0 auto;
}
h2{
    padding: 10px;
}
select{
    width: 30%;
    height: 130%;
    text-align: center;
}
.text-box{
    width: 70vw;
    height: 30vh;
    text-align:left;
    vertical-align: top;
    resize: none;
    padding: 10px;
}
.button-st{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 40px;
}
.start{
    grid-column: 3/3;
    background-color: black;
    color: white;
    padding: 10px;    
}
.end{
    grid-column: 4/4;
    color: black;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
