* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    scroll-behavior: smooth;
}

/* html, body {
    height: 100%;
} */

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

@media screen and (min-width: 1612px) {   
    /* ---------------  header ------------------ */
    .nav-container {
        display: grid;
        grid-template-columns: 0.4fr auto;
        align-content: center;
        height: 94px;
    }
    .nav {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        margin: 20px 50px;
        align-items: center;
    }
    
    .menu4 {
        margin-right: 50px;
    }

    .profile {
        margin-left: 80px;
    }

    #cancel {
        display: none;
    }

    /* ------------------ header-main ---------------- */
    .header-main {
        padding: 50px 400px;
        height: 400px;
        display: grid;
        grid-template-rows: 1fr 0.8fr 0.5fr;
        grid-template-columns: 1fr 1fr;
    }

    /* ----------------- main-popular ----------------- */
    .popular {
        margin: 100px 300px;
    }

    .popular-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        justify-items: center;
    }

    .popular-img > img {
        width: 250px;
        height: 400px;
        border-radius: 20px;
    }

    /* ------------------ main-book -------------------- */

    .book-img2 {
        width: 300px;
        position: absolute;
        right: 550px;
        bottom: 180px;
    }
    
    .book-img3 {
        width: 300px;
        position: absolute;
        right: 550px;
        bottom: -10px;
    }

    .book {
        margin: 150px 300px;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        grid-template-rows: 0.5fr 0.4fr 0.3fr 0.3fr 0.5fr;
    }

    .book-img {
        width: 100%;
        height: 90%;
        grid-column: 2 / 3;
        grid-row: 1 / 6;
    }

    /* ------------------ main-book-chk ----------------- */

    .book-chk {
        margin: 150px 300px;
        height: 500px;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
        justify-items: end;
    }

    /* ---------------------- qna ------------------------ */
    .qna-container {
        margin: 150px 300px;
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr auto;
    }

    .qna {
        grid-column: 1 / 4;
    }

    .qna-title {
        padding: 20px 10px 20px 10px;
        grid-column: 2 / 3;
    }
    
    .qna-plus {
        padding: 20px 10px 20px 10px;
        grid-column: 3 / 4;
    }

    .qna-container > a {
        display: none;
    }

    /* ---------------------- event --------------------- */
    
    .event {
        margin: 150px 300px;
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .event > img {
        height: 200px;
    }
}

@media screen and (max-width: 1611px) {
    /* ---------------  header ------------------ */
    .nav {
        display: none;
    }

    .profile-img {
        display: none;
    }

    .hamburger {
        font-size: 2.5rem;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    #cancel {
        display: none;
    }
    
    /* ------------------ header-main ---------------- */
    .img {
        display: none;
    }

    .header-main {
        padding: 50px 50px;
        height: 400px;
        display: grid;
        grid-template-rows: 1fr 0.8fr 0.5fr;
        justify-content: center;
    }

    /* ----------------- main-popular ----------------- */
    .popular {
        margin: 100px 90px;
    }

    .popular-title {
        margin: 20px 0;
        text-align: center;
    }

    .popular-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
    }

    .popular-img > img {
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }

    /* ------------------ main-book -------------------- */
    .book {
        margin: 100px 90px;
        display: grid;
        grid-template-rows: 0.5fr 0.4fr 0.3fr 0.3fr 0.5fr;
        background: url("/img/5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        justify-items: center;
        position: relative;
        isolation: isolate;
    }

    .book::after {
        content: '';
        position: absolute;
        background: white;
        z-index: -1;
        inset: 0;
        opacity: 0.6;
    }

    .book-img {
        display: none;
    }

    /* ------------------ main-book-chk ----------------- */

    .b-chk-img {
        display: none;
    }

    .b-chk-content {
        display: none;
    }

    .book-chk {
        margin: 100px 90px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }

    /* ---------------------- qna ------------------------ */
    .qna-container {
        margin: 100px 90px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }

    .qna-title, .qna-plus {
        display: none;
    }

    .qna-container > a {
        border: 1px solid gray;
        border-radius: 20px;
        width: 150px;
        height: 40px;
        font-weight: 700;
        text-align: center;
        line-height: 27px;
    }

    /* ---------------------- event --------------------- */
    .event > img {
        display: none;
    }

    .event {
        margin: 100px 90px;
        text-align: center;
        padding: 20px;
    }

}

@media screen and (max-width: 1800px) {
    /* ------------------ main-book -------------------- */
    .book-img2, .book-img3 {
        display: none;
    }

}

li {
    list-style: none;
}

.profile-img {
    height: 30px;
    width: 30px;
}
.profile-img2 {
    height: 30px;
    width: 30px;
}

.header-title{
    width: 250px;
    height: 50px;
}

.menu {
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
}

.profile {
    font-weight: 900;
    font-size: 0.8rem;
    text-align: right;
    line-height: 50px;
}

.menu :hover {
    background-color: #E7DAD4;
    border-radius: 10px;
}

.profile :hover {
    background-color: #E7DAD4;
    border-radius: 10px;
}

/* ------------------ header-main ---------------- */
.header-title {
    margin: 20px 20px 20px 150px;
}

.header-main {
    width: 100%;
    background: url('/img/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    justify-items: start;
    align-items: center;
}

.header-main::after {
    content: '';
    position: absolute;
    background: white;
    z-index: -1;
    inset: 0;
    opacity: 0.2;
}

.header-main-title {
    color: white;
    font-weight: 900;
    font-size: 3rem;
}

.header-main-minititle {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    grid-row: 2 / 3;
}

.header-map {
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 50px;
    font-weight: 900;
    font-size: 1.2rem;
    width: 280px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    grid-row: 3 / 4;
}

.header-map-img {
    height: 20px;
}

.img {
    background: url('/img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 2px solid white;
    width: 90%;
    height: 90%;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    box-shadow: 1px 10px 10px 5px #5f5f5f;
}

/* ----------------- main-popular ----------------- */

.popular-title {
    margin: 20px 0;
}

.popular-img {
    padding: 20px;
}

.popular-dox {
    padding: 5px 10px;
}

.popular-title {
    font-weight: 900;
    margin: 5px 0;
}

/* ------------------ main-book -------------------- */
.book {
    height: 500px;
    align-items: center;
    position: relative;
}

.book > a {
    border: 1px solid gray;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 27px;
}

.book-img {
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

/* ------------------ main-book-chk ----------------- */

.book-chk {
    align-items: center;
}

.book-chk > a {
    border: 1px solid gray;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 27px;
}

.b-chk-img {
    width: 90%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 8;
    margin: 0 auto;
}

/* ---------------------- qna ------------------------ */

.qna-title {
    border-bottom: 1px solid gray;
    font-weight: 700;
}

.qna-plus {
    border-bottom: 1px solid gray;
    width: 40px;
}

/* ---------------------- event --------------------- */
.event-container {
    background-color: burlywood;
}

.event {
    align-items: center;
    justify-items: center;
}

.event-title {
    color: white;
    font-size: 1.5rem;
}

/* ------------------- move-up ------------------- */

.top {
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 30px;
    position: fixed;
    bottom: 8%;
    right: 2%;
}

.top img {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}


/* -------------------- footer --------------------- */
.footer-title {
    padding: 15px;
    width: 100%;
    color: white;
    background-color: black;
    font-weight: 900;
    text-align: center;
    position: relative;
    bottom: -107px;
    /* transform : translateY(180%); */
}

 /* 햄버거 버튼 클릭 시 */
 .nav2 {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    justify-items: center;
    gap: 10px;
}

.cancel {
    font-size: 2.5rem;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

#hamburger {
    display: none;
}

#cancel {
    display: none;
}
.iconham, .iconx{
    width: 30px;
    height: 30px;
}